body {
    background: linear-gradient(180.61deg,
            #000000 25.16%,
            #04254f 80%,
            #409ecd 100%);
    background-repeat: no-repeat;
    background-size: cover;


}

h1 {
    display: none;
}

.hidden {
    display: none;
}

select,
option {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0 1em;
}

select {
    border: none;
    outline: none;
}


h2 {
    color: white;
}

main {
    padding: 0 3em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cabecalho__logo {
    display: flex;
    gap: 1em;
}

.cabecalho__logo img {
    width: 130px;
    height: 90px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.lista {
    list-style-type: none;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.lista li img {
    width: 300px;
    height: 444px;
}

.pesquisa {

    min-height: 100vh;
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow: hidden;
        overflow-x: scroll;
    }
}

.icones-header {
    display: flex;
    gap: 30px;  
    align-items: center;
}

.cabecalho__opcoes {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
  
.container_icone_busca {
    background: transparent;  
    border: none;  
}

  
#busca-icone {
    cursor: pointer;
    font-size: 48px;
    transition: color 0.3s ease;
}
  
#busca-entrada {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(0);
    opacity: 0;
    width: 350px;
    padding: 10px 16px;
    font-size: 16px;
    border: 1px solid #409ecd;
    border-radius: 8px;
    background-color: #0a0a0a;
    color: white;
    transition: transform 0.4s ease, opacity 0.4s ease;
    box-sizing: border-box;
    z-index: 1;
}
  
#busca-entrada::placeholder {
    color: #ccc;
}
  
#busca-entrada.active {
    transform: translate(-50%, -50%) scaleX(1);
    opacity: 1;
}

#conteudo-busca {
    min-height: 100vh;
    margin: 80px;
}

#conteudo-busca h1 {
    margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}

#conteudo-busca img {
    margin-top: 20px; /* Ajuste o valor conforme necessário */
}

.hidden{
    display: none;
}

.mensagem-erro {
    padding: 30px;
    font-size: 18px;
    color: #fff;
    background-color: #1a1a1a;
    border: 1px solid #409ecd;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
  }

.mensagem-erro em {
    font-style: italic;
    color: #ff6b6b;
}